{% extends 'base.html.twig' %} {% block body %} {% if app.user != null %}
    <table class="table">
        <h2 class="page-header">List</h2>
        <thead>
        <tr>
            <th>#</th>
            <th>Todo</th>
            <th>Due Date</th>
            <th><a class="btn btn-success col-md-offset-5" href="todo/create/{{ app.user.id }}">New</a></th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="row">{{ todo.id }}</th>
                    <td>{{ todo.name }}</td>
                    <td>{{ todo.dueDate|date('F, d/Y - h:i a') }}</td>
                    <td>
                        <a href="/todo/details/{{ todo.id }}" class="btn btn-primary col-md-offset-5">View</a>
                        <a href="/todo/edit/{{ todo.id }}" class="btn btn-outline-secondary">Edit</a>
                        <a href="/todo/delete/{{ todo.id }}" class="btn btn-danger">Delete</a>
                    </td>
                {% elseif todo.idusr == app.user.id %}
                    <th scope="row">{{ todo.id }}</th>
                    <td>{{ todo.name }}</td>
                    <td>{{ todo.dueDate|date('F, d/Y - h:i a') }}</td>
                    <td>
                        <a href="/todo/details/{{ todo.id }}" class="btn btn-primary col-md-offset-5">View</a>
                        <a href="/todo/edit/{{ todo.id }}" class="btn btn-outline-secondary">Edit</a>
                        <a href="/todo/delete/{{ todo.id }}" class="btn btn-danger">Delete</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %} {% if app.user == null %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="jumbotron">
                    <h3 align="center" class="pag-header">Você precisa estar logado para ver os Todo's</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a href="/login" class="btn btn-primary">Login</a>
                <br>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}